#row {
    flex-direction: wrap;
    display: flex;
}

footer ul {
    list-style: none;
    text-decoration: none;

}
footer{
    /* margin: 0; */
     /* background-color: rgb(250, 234, 204); */
     width: 100%;
    /* background-color: rgb(121, 193, 255); 
  */
}
footer ul a{
    text-decoration: none;
}
#footer{
    
   width: 100%;
    padding: 20px;
}



#cointainer {
     max-width: 100%;
      margin-top: 50px;
    /* margin: auto; */
}
*{
    margin: 0;
    padding: 0;
}

#footero {
    width: 25%;
    padding: 0 15px;
    margin-left: 18%;
}

#footero h3 {
    font-size: large;
    text-transform: capitalize;
    /* margin-bottom: 30px; */

}

footer ul li a {
    margin-top: 2%;
    font-size: large;
    color: black;

}
footer ul li a:hover{
    color: rgb(206, 77, 77);
    
}
.fa{
    padding: 10px;
    font-size: x-large;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    margin-top: 0%;
}
.fa:hover{
    opacity: 0.7;
}

.fa-facebook{
    color: #3B5998;
   
}
.fa-instagram{
    color:rgb(155, 9, 58);
    
}
.fa-twitter{
    color: #55ACEE;
}
.fa-youtube{
    color: #bb0000;
}
